* {
  text-align: center;
  color: rgb(26, 26, 26);
}
body {
  width: 1200px;
  background-image: url("wool-white2.jpg");
  background-blend-mode: multiply;
}
p {
  text-align: center;
}

.index ul {
  text-align: center;
  display: inline-block;
  margin: 2% 10%;
  padding: 2%;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
}
li {
  list-style: none;
  text-align: left;
}

i {
  font-weight: 900;
  color: #6aafe6;
}

.index a {
  text-decoration: none;
}
.index li :hover {
  color: #6aafe6;
}
.contentsWrapper {
  background-image: url("cottonblue.png");
  background-blend-mode: multiply;
  margin: 2% 10%;
  padding: 1% 10%;
  text-align: center;
  border: 1px solid #cadbe9;
  border-radius: 50px;
}
.references {
  margin: 2% auto;
  text-align: center;
}
body {
  margin: 2% auto;
}

.contentsWrapper p {
  text-align: left;
}
.gotomainpage {
  text-align: center;
  display: inline-block;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px;
  margin: 0px 15px;
}
.gotomainpage:hover {
  opacity: 0.8;
}
